title #{pageTitle} | Pan Embassy
base(href="/")
link(rel="canonical" href="http://www.panembassy.com/#{slug}")

// Google
meta(name="description" content="#{pageDescription}")

// Twitter Cards
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@stavgeffen")
meta(name="twitter:title" content="#{pageTitle} | Pan Embassy")
meta(name="twitter:description" content="#{pageDescription}")
meta(name="twitter:creator" content="@stavgeffen")
meta(name="twitter:image" content="#{pageImage}")


// Open Graph
meta(property="og:site_name" content="Pan Embassy")
meta(property="og:locale" content="en_US")
meta(property="og:title" content="#{pageTitle}")
meta(property="og:type" content="website")
meta(property="og:url" content="http://www.panembassy.com/#{slug}")
meta(property="og:image" content="#{pageImage}")
meta(property="og:description" content="#{pageDescription}")

